openapi: '3.0.0'
info:
  version: 1.0.0
  title: HaaB Documentation API
  license:
    name: MIT
servers:
  - url: https://api.haab.com/v1
paths:
  /documents:
    get:
      summary: List all documents in the documentation space. This endpoint supports pagination and filtering by various criteria to help users efficiently browse through their documentation collection.
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated array of documents with metadata including titles, authors, and modification timestamps
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new document in the documentation space. This endpoint allows users to add new documentation pages with rich content, metadata, and version control.
      operationId: createDocuments
      responses:
        201:
          description: Document successfully created with generated ID and timestamps
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Retrieve detailed information for a specific document. This endpoint provides comprehensive document data including content, metadata, version history, and access permissions.
      operationId: showDocumentById
      parameters:
        - name: documentId
          in: path
          required: true
          description: The unique identifier of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Complete document information including content, metadata, and version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      summary: Retrieve a list of users with access to the documentation space. This endpoint supports filtering by role and status to manage team members and permissions effectively.
      operationId: listUsers
      parameters:
        - name: limit
          in: query
          description: How many users to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated list of users with their roles, permissions, and activity status
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Invite a new user to join the documentation space. This endpoint sends an invitation and sets up initial permissions for the new team member.
      operationId: inviteUser
      responses:
        201:
          description: User invitation sent successfully with invitation details
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        author:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    User:
      required:
        - id
        - email
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        role:
          type: string
        status:
          type: string
    Users:
      type: array
      items:
        $ref: '#/components/schemas/User'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string